{% include 'header.html' %}

<div class="container">
    <div class="row justify-content-left">
        <h1>This is Page 1.</h1>
            <div class="container">
                <div class="row">
                    <div class="col-6 align-self-start">
                    Integer dictum faucibus elementum. Nulla sit amet sollicitudin odio. Duis condimentum nisi felis, quis vehicula sem congue id. In hac habitasse platea dictumst. Etiam eget augue sodales, hendrerit leo eu, lacinia arcu. Nulla porttitor fermentum quam, vel posuere risus. Nam mattis magna vel ipsum posuere, vitae porta velit aliquam. Aliquam sit amet eros tempor, sollicitudin dolor eu, mattis turpis. Integer nec sodales arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam et augue eget risus egestas feugiat. Vestibulum libero est, blandit a posuere sed, maximus sit amet metus. Integer fringilla volutpat dui et sodales. Duis sit amet nisl non felis pulvinar venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </div>
                    <div class="col-6 align-self-right">
                    Donec libero neque, dignissim ac eros et, porta bibendum felis. Cras eget rhoncus lectus. Nam lacinia dictum metus vitae viverra. Nam pulvinar eu mi at semper. Ut id felis et velit sagittis mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi tincidunt quam odio. Vivamus molestie pharetra nisl in luctus. Donec in ligula posuere, commodo turpis dictum, pretium est. Curabitur aliquet lorem massa, in vehicula ex faucibus at. Pellentesque varius turpis sed turpis porta condimentum. Aliquam at nulla tincidunt, rhoncus lorem sit amet, congue lectus. Quisque fringilla, quam sit amet malesuada posuere, neque urna tempus urna, eget fermentum nunc ante vel augue.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>